@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v49-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v49-latin-900.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.containers {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #333333;
}

.site-hedaer {
  padding: 26px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

.navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
}

.navbar__link {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  transition: all 0.3s;
}
.navbar__link:hover {
  text-decoration: underline;
}

.header__btn-box {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.header__btn {
  border: none;
  padding: 0px;
  color: transparent;
  background-color: transparent;
  border: 1px solid transparent;
}
.header__btn:hover {
  background-color: transparent;
  color: transparent;
}

.header__menu-btn {
  display: none;
}

@media (max-width: 800px) {
  .navbar {
    display: none;
  }
  .header__menu-btn {
    display: block;
    border: none;
    padding: 0px;
    color: transparent;
    background-color: transparent;
    border: 1px solid transparent;
  }
  .header__menu-btn:hover {
    background-color: transparent;
    color: transparent;
  }
}
.hero-section {
  background-image: url(../../images/hero-bg.png);
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero {
  padding-top: 206px;
}

.hero__socials-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.hero__text-wrapper {
  max-width: 793px;
}

.hero__title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 69px;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 40px;
}
.hero__title:hover {
  text-decoration: none;
}

.hero__btn {
  border: none;
  padding: 8px 40px;
  color: #ffffff;
  background-color: #4bd8b5;
  border: 1px solid #4bd8b5;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.hero__btn:hover {
  background-color: #ffffff;
  color: #4bd8b5;
}
.hero__btn:hover {
  text-decoration: none;
}
.hero__btn:hover {
  background-color: #4f4f4f;
}

@media (max-width: 750px) {
  .hero-section {
    background-position: top top;
  }
  .hero {
    padding-top: 106px;
  }
  .hero__text-wrapper {
    max-width: 599px;
  }
  .hero__title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 54px;
    line-height: 100%;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .hero__title:hover {
    text-decoration: none;
  }
}
@media (max-width: 450px) {
  .hero__text-wrapper {
    max-width: 499px;
  }
  .hero__title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 38px;
    line-height: 100%;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .hero__title:hover {
    text-decoration: none;
  }
  .hero__socials-wrapper {
    display: none;
  }
}
.work-section {
  padding: 100px 0 186px 0;
}

.work__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.work-content-wrapper {
  width: 793px;
}

.work__title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 30px;
}
.work__title:hover {
  text-decoration: none;
}

.work__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #f2f2f2;
  margin-bottom: 30px;
}
.work__text:hover {
  text-decoration: none;
}

.image-wrapper {
  background-image: url(../../images/work-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 323px;
  background-size: cover;
  margin-bottom: 20px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.work__btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .work__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .work-content-wrapper {
    width: 100%;
  }
  .image-wrapper {
    background-position: left center;
  }
}
@media (max-width: 700px) {
  .work-section {
    padding: 50px 0 86px 0;
  }
}
.about-section {
  padding: 100px 0;
  background-color: #4f4f4f;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}

.about__wrapper {
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
}

.about__wrapper img {
  margin-bottom: 40px;
}

.about__title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 140%;
  color: #fefefe;
  margin-bottom: 15px;
}
.about__title:hover {
  text-decoration: none;
}

.about__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #f2f2f2;
}
.about__text:hover {
  text-decoration: none;
}

@media (max-width: 785px) {
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .about__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    flex-direction: column;
    text-align: center;
  }
}
.zoo-section {
  padding: 100px 0;
}

.zoo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (max-width: 950px) {
  .crocodile {
    display: none;
  }
}
@media (max-width: 750px) {
  .gorilla {
    display: none;
  }
}
@media (max-width: 550px) {
  .eagle {
    display: none;
  }
}
.payment-section {
  padding: 100px 0;
}

.payment {
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0px;
  flex-direction: column;
}

.payment__text-wrapper {
  width: 709px;
  text-align: center;
}

.payment__title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 30px;
}
.payment__title:hover {
  text-decoration: none;
}

.payment__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 90px;
}
.payment__text:hover {
  text-decoration: none;
}

.payment__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.content__box {
  width: 245px;
  height: 245px;
  border-radius: 50%;
  border: 1px solid #4bd8b5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.content__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #ffffff;
}
.content__text:hover {
  text-decoration: none;
}

.paymnet__btn {
  border: none;
  padding: 18px 80px;
  color: #ffffff;
  background-color: #4bd8b5;
  border: 1px solid #4bd8b5;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-top: 60px;
}
.paymnet__btn:hover {
  background-color: #ffffff;
  color: #4bd8b5;
}
.paymnet__btn:hover {
  text-decoration: none;
}
.paymnet__btn:hover {
  background-color: #4f4f4f;
}

.content-img .image1 {
  height: 10px;
}

@media (max-width: 1050px) {
  .payment__content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    flex-direction: column;
  }
  .content-img .image1 {
    width: 40px;
    height: 10px;
    transform: rotate(-270deg);
  }
}
@media (max-width: 850px) {
  .payment__text-wrapper {
    width: 100%;
  }
  .payment__title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 28px;
    line-height: 100%;
    color: #ffffff;
    margin-bottom: 30px;
  }
  .payment__title:hover {
    text-decoration: none;
  }
  .payment__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #ffffff;
    margin-bottom: 90px;
  }
  .payment__text:hover {
    text-decoration: none;
  }
}
@media (max-width: 550px) {
  .paymnet__btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
}
.testimonial-section {
  padding: 100px 0;
}

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
}

.testimonial__ttile {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 50px;
}
.testimonial__ttile:hover {
  text-decoration: none;
}

.testimonial__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.contents__box {
  width: 585px;
  padding: 50px 72px;
  background-color: #3c3c3c;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}

.contents__title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 100%;
  color: #ffffff;
}
.contents__title:hover {
  text-decoration: none;
}

.contents__text {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 14px;
  line-height: 140%;
  color: #f2f2f2;
}
.contents__text:hover {
  text-decoration: none;
}

.testimonial__btn {
  border: none;
  padding: 18px 80px;
  color: #ffffff;
  background-color: #4bd8b5;
  border: 1px solid #4bd8b5;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.4s;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-top: 60px;
}
.testimonial__btn:hover {
  background-color: #ffffff;
  color: #4bd8b5;
}
.testimonial__btn:hover {
  text-decoration: none;
}
.testimonial__btn:hover {
  background-color: #4f4f4f;
}

@media (max-width: 1050px) {
  .testimonial__ttile {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
    color: #ffffff;
    margin-bottom: 50px;
  }
  .testimonial__ttile:hover {
    text-decoration: none;
  }
  .testimonial__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
  }
  .contents__box {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .testimonial__btn {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .contents__box {
    padding: 10px 22px;
  }
}
.map-section {
  padding: 100px 0;
  background-color: #4f4f4f;
}

.map {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}

.map__title {
  margin-bottom: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 100%;
  color: #ffffff;
}
.map__title:hover {
  text-decoration: none;
}

.map img {
  width: 100%;
}

.map__wrapper {
  position: absolute;
  left: -200px;
  bottom: 35%;
  padding: 40px 20px;
  background-color: #333333;
  width: 436px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.map__content {
  text-align: left;
}

.map__content-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 10px;
}
.map__content-title:hover {
  text-decoration: none;
}

.map__content-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #ffffff;
}
.map__content-text:hover {
  text-decoration: none;
}

.map__content-text span {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
}
.map__content-text span:hover {
  text-decoration: none;
}

@media (max-width: 1500px) {
  .map__wrapper {
    position: absolute;
    left: 0px;
    bottom: 35%;
    padding: 40px 20px;
    background-color: #333333;
    width: 436px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
@media (max-width: 1200px) {
  .map__wrapper {
    position: absolute;
    left: 100px;
    bottom: 35%;
    padding: 40px 20px;
    background-color: #333333;
    width: 436px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .map__btn {
    margin-top: 100px;
  }
}
@media (max-width: 800px) {
  .map__title {
    margin-bottom: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
    color: #ffffff;
  }
  .map__title:hover {
    text-decoration: none;
  }
}
@media (max-width: 600px) {
  .map__wrapper {
    position: absolute;
    left: 50px;
    bottom: 45%;
    padding: 40px 20px;
    background-color: #333333;
    width: 60%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .map__content-title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 100%;
    color: #ffffff;
    margin-bottom: 10px;
  }
  .map__content-title:hover {
    text-decoration: none;
  }
  .map__content-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    color: #ffffff;
  }
  .map__content-text:hover {
    text-decoration: none;
  }
  .map__content-text span {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 12px;
    line-height: 120%;
    color: #ffffff;
  }
  .map__content-text span:hover {
    text-decoration: none;
  }
  .map__btn {
    margin-top: 100px;
  }
}
@media (max-width: 500px) {
  .map__wrapper {
    position: absolute;
    left: 10%;
    bottom: 20%;
    padding: 40px 20px;
    background-color: #333333;
    width: 80%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .map__btn {
    margin-top: 10px;
  }
}/*# sourceMappingURL=main.css.map */